{% extends 'index.html.twig' %}

{% block header %}
    <a href="/">home</a>
{% endblock %}

{% block content %}
    <h3>Confirm Login</h3>

    <a href="/patron_view/{{patron.getId}}">
        <button type="button" name="button">Login</button>
    </a>
{% endblock %}

{% block controls %}{% endblock %}
